.tool_bar {
    padding: 4px;
    min-height: 30px;
    display: flex;
    .tool_bar_left {
        flex: 1;
        height: 30px;
        line-height: 30px;
        .item {
            margin-right: 15px;
        }
        .special {
            top: 8px;
        }
    }
    .tool_bar_right {

        width: 20%;
    }
}

